@import 'variables';

.toolbox {
  width: 100%;
  height: 100%;

  @media #{$gt-sm} {
    width: $sidebar-width;
    margin-right: $margin-default
  }

  .mat-form-field {
    display: block;
  }

  &__add {
    
  }

  &__form {
    display: flex;
    flex-direction: column;

    button {
      align-self: flex-end;
    }
  }

  &__filters {
    display: flex;
    flex-direction: column;
    margin: $margin-default 0;
    align-items: space-around;

    mat-label {
      align-self: flex-start;
      margin-bottom: 10px;
    }
  }

  &__actions {
    display: flex;
    margin: $margin-default 0;
    justify-content: flex-end;

    button {
      margin-left: 30px;
    }
  }
}
