@import 'variables';

.products {
  display: flex;
  flex-direction: column;
  margin: 0 $margin-default;

  @media #{$gt-xs} {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
  }

  @media #{$gt-xs} {
    flex-direction: row;
  }

  &__content {
    width: 100%;

    border: 1px solid hotpink;
  }

  &__sidebar {

  }
}
